@font-face {
    font-family: "Apercu-Mono-Pro";
    src: url(../fonts/apercu_mono_pro.otf) format("opentype");
}

.flex {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: auto;
}

#main {
    margin:0 auto;
    font-family: "Apercu-Mono-Pro", Helvetica Neue, Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 30px;
}

@media (min-device-width: 769px) {
  #main {
    max-width: 400px;
  }
}

body {
  margin: 0;
  background-color: #F4B6B6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  border-width: 12px;
  border-style: solid;
  border-color: white;
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #EB9696;
}

a:hover {
    text-decoration: underline;
}
