
body {
    border-width: medium;
    border-style: solid;
    border-color: white;
    font-family: "Apercu-Mono-Pro", Helvetica Neue, Arial, sans-serif;
    color: white;
    text-align: center;
    font-size: 14px;
    background-color: #F4B6B6
}

h1 {
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

#main {
    width: 200px;
    height: 350px;
}

a {
    text-decoration: none;
    color: #C34242;
}

a:hover {
    text-decoration: underline;
}
